AppKit==0.2.8
asgiref==3.4.1
Babel==2.9.0
betamax==0.8.1
blinker==1.4
Brotli==1.0.9
cffi==1.15.0
ConfigParser==5.1.0
Cython==0.29.23
ddt==1.4.4
dl==0.1.0
docutils==0.17.1
dogstatsd_python==0.5.6
email_validator==1.1.3
eventlet==0.33.0
flask_babel==2.0.0
flask_babelex==0.9.4
Foundation==0.1.0a0.dev1
functools32==3.2.3-2
gevent==21.1.2
gnureadline==8.0.0
greenlet==1.0.0
HTMLParser==0.0.2
hypothesis==6.29.0
importlib_metadata==4.8.2
importlib_resources==5.4.0
influxdb==5.3.1
ipython==7.30.0
jnius==1.1.0
keyring==23.3.0
lockfile==0.12.2
lxml==4.6.3
Mako==1.1.6
mock==4.0.3
netifaces==0.11.0
nose==1.3.7
numpy==1.20.1
oauthlib==3.1.1
ordereddict==1.1
os_client_config==2.1.0
oslo_log==4.6.1
oslotest==4.5.0
osprofiler==3.4.2
prometheus_client==0.10.1
protobuf==3.19.1
pycodestyle==2.6.0
pylibmc==1.6.1
pymemcache==3.5.0
pyperf==2.3.0
PyQt4==4.11.4
PyQt5==5.15.6
pyrsistent==0.18.0
pytest==6.2.3
python-dotenv==0.19.2
python_bcrypt==0.3.2
python_memcached==1.59
QtPy==1.9.0
railroad==0.5.0
reno==3.5.0
requests_kerberos==0.13.0
requests_mock==1.9.3
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rst2txt==1.1.0
Sphinx==4.0.1
strict_rfc3339==0.7
tempest==29.2.0
testrepository==0.0.20
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
Twisted==21.7.0
typing_extensions==3.7.4.3
unicodedata2==13.0.0.post2
uritemplate==4.1.1
watchdog==1.0.2
webcolors==1.11.1
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.6.0
